.header {
  padding-top: 33px;
  padding-bottom: 33px;
  margin-bottom: 20px;
  background-color: var(--mainColor);

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--white);
  font-size: 24px;
}